* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
}

/* Footer styling */
.footer {
    background-color: #123a23; /* Dark blue color, based on the image */
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    position: relative;
    z-index: 9999;
    max-width: auto;
}

.footer a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
}