*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
    
}

/* body{
    background-color : #f8fad0;
} */

nav {
    padding: 20px 0;
    background-color: rgb(42, 12, 161);
    width: 100%;
    display: flex;
    position: fixed;
    height: 60px;
    top: 0;
    justify-content: center;
    z-index: 1000;
}

nav ul {
    display: flex; 
    list-style: none;
    justify-content: center;
    gap: 2rem;
    font-weight: bold;
}

nav ul li a {
    text-decoration: none;
    padding: 8px 0;
    color: rgb(255, 255, 255);
    transition: all;
    transition-duration: 100ms;
}

nav ul li a:hover {
    color: rgb(148, 224, 15);
    border-bottom: 1px solid rgb(148, 224, 15);
}

.text-container-nav {
    margin-left: 20px;
    margin-top: 80px;
    text-align: justify;
    font-size: 12px;
}

.text-container-nav h5 {
    font-size: 20px;
    padding-bottom: 20px;
}

.text-container-nav h3 {
    font-size: 28px;
}

.text-container-nav p {
    font-size: 16px;
    line-height: 1.6;
    display: flex;
}

.content-home {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    margin: 50px auto;
    margin-top: 140px;
    width: 80%;
    flex-direction: row;
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: rgb(42, 12, 161);
    color: #ffffff;
    margin: 50px auto;
    margin-top: 70px;
    margin-bottom : 60px;
    width: 80%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    flex-direction: row;
}
.text-container {
    width: 45%;
    text-align: justify;
    font-size: 12px;
    margin-top: 30px;
    margin-left: -80px;
    color: #ffffff;
}

.text-container1 {
    width: 45%;
    text-align: justify;
    font-size: 12px;
    margin-top: 30px;
}

.text-container h2 {
    font-size: 28px;
}

.text-container,
.text-container1 p {
    font-size: 16px;
    line-height: 1.6;
    display: flex;
}

.image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 400px;
    height: auto;
}

.container-gallery {
    margin-top: 150px;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    border-radius: 10px;
    gap: 10px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 100px;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    border-radius: 4px;
    overflow: hidden;
    margin: 2px;
    transition: transform 1000ms;
    
}

.image-wrap {
    max-width: 400px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    gap: 5px;
}

.image-wrap img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
}

.image-wrap:hover img {
    transform: scale(1.05);
}

.gallery-h2 {
    margin-top: -20px;
    margin-left: 10px;
    font-size: 30px;
}

footer {
    background-color: rgb(42, 12, 161);
    color: white;
    padding: 20px;
    margin-top: -50px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
}

.helllllo h2{
    /* margin-top: -20px;
    margin-left: 10px; */
    font-size: 30px;
}

.contscc {
    display: flex;
    margin-top:80px;
    justify-content: center;

}

.contact-info {
    display: flex;
    gap: 30px;
    text-decoration: none;
    color: #ffffff;
    align-items: center;
    margin-right: 40px;
    justify-content: space-between;
    padding: 115px;
}
.contact-info1 {
    display: flex;
    gap: 30px;
    text-decoration: none;
    color: #ffffff;
    align-items: center;
    margin-right: 40px;
    justify-content: space-between;
    padding: 115px;
}
/* .contact-info a {
    text-decoration: none;
    color: rgb(42, 12, 161);
    font-size: 18px;
    justify-content: space-between;
    margin-left: 130px;
}

.contact-info a:hover{
    color: rgb(148, 224, 15);
    border-bottom: 1px solid rgb(148, 224, 15);
}

.contact-info p {
    margin: 0;
    font-size: 18px;
    white-space: nowrap;
} */

.logo {
    display: flex;
    align-items: center;
    color: #ffffff;
}

.logo img {
    width: 100px;
    height: auto;
    margin-right: 15px;
}
.logo-contact img {
    width: 100px;
    height: auto;
    margin-right: 35px;
}

@media (max-width: 850px) {
    header {
        height: 50px;
    }

    .content-home,
    .content {
        flex-direction: column;
        width: 100%;
        padding: 20px;
        margin: 0 auto;
    }

    .text-container-nav,
    .text-container,
    .text-container1 {
        margin-left: 0;
        width: 100%;
        font-size: 14px;
    }

    .image-container {
        order: -1;
        margin: 50px auto 0;
        text-align: left;
    }

    .gallery-h2 {
        margin-top: -20px;
        margin-left: 0px;
        font-size: 30px;
    }

    .gallery {
        width: 100%;
        margin-left: 0;
        grid-template-columns: repeat(2, 1fr);
    }

    footer {
        flex-direction: column;
        margin-top: 200px;
    }

    .footer-content,
    .logo,
    .contact-info {
        flex-direction: column;
        margin: 10px;
        justify-content: center;
    }
}

@media (max-width: 600px) {
    header {
    height: 50px;
    }

    .content-home,
    .content {
        padding: 10px;
    }

    .text-container-nav h3 {
        font-size: 24px;
    }

    .gallery {
        width: 100%;
        margin-left: 0;
        grid-template-columns: repeat(1, 1fr);
    }

    footer {
        flex-direction: column;
        margin-top: 200px;
    }

    .footer-content,
    .logo,
    .contact-info {
        flex-direction: column;
        margin: 10px;
        justify-content: center;
    }
}
